airsim==1.8.1
gymnasium==0.29.1
matplotlib==3.7.2
msgpack-rpc-python==0.4.1
numpy @ file:///croot/numpy_and_numpy_base_1691091611330/work
py-trees==2.2.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
