airsim==1.8.1
ament-cmake-test==1.1.6
ament-copyright==0.10.7
ament-cppcheck==0.10.7
ament-cpplint==0.10.7
ament-flake8==0.10.7
ament-index-python==1.2.0
ament-lint==0.10.7
ament-lint-cmake==0.10.7
ament-package==0.13.1
ament-pep257==0.10.7
ament-uncrustify==0.10.7
ament-xmllint==0.10.7
brotlipy==0.7.0
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cloudpickle==2.2.1
contourpy==1.1.0
cryptography @ file:///croot/cryptography_1689373676338/work
cv-bridge==3.1.3
cycler==0.11.0
diagnostic-updater==2.1.3
domain-coordinator==0.9.2
Farama-Notifications==0.0.4
filelock @ file:///croot/filelock_1672387128942/work
fonttools==4.42.1
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
gymnasium==0.29.1
idna @ file:///croot/idna_1666125576474/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
kiwisolver==1.4.5
launch==0.17.2
launch-ros==0.14.5
launch-testing==0.17.2
launch-testing-ros==0.14.5
launch-xml==0.17.2
launch-yaml==0.17.2
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib==3.7.2
mavros==2.3.0
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///croot/numpy_and_numpy_base_1691091611330/work
opencv-contrib-python==4.8.0.76
osrf-pycommon==2.0.0
packaging==23.1
pandas==2.1.0
Pillow==9.4.0
py-trees==2.2.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.2
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.0.9
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.8.2
pytz==2023.3
rclpy==1.9.3
rcutils==4.0.4
requests @ file:///croot/requests_1690400202158/work
ros2action==0.13.5
ros2bag==0.9.2
ros2cli==0.13.5
ros2component==0.13.5
ros2doctor==0.13.5
ros2interface==0.13.5
ros2launch==0.14.5
ros2lifecycle==0.13.5
ros2multicast==0.13.5
ros2node==0.13.5
ros2param==0.13.5
ros2pkg==0.13.5
ros2run==0.13.5
ros2service==0.13.5
ros2topic==0.13.5
rosbag2-py==0.9.2
rosidl-adapter==2.2.3
rosidl-cli==2.2.3
rosidl-cmake==2.2.3
rosidl-generator-c==2.2.3
rosidl-generator-cpp==2.2.3
rosidl-generator-py==0.11.4
rosidl-parser==2.2.3
rosidl-runtime-py==0.9.1
rosidl-typesupport-c==1.2.1
rosidl-typesupport-cpp==1.2.1
rosidl-typesupport-introspection-c==2.2.3
rosidl-typesupport-introspection-cpp==2.2.3
rpyutils==0.2.0
seaborn==0.12.2
six==1.16.0
sros2==0.10.3
sympy @ file:///croot/sympy_1668202399572/work
tf2-geometry-msgs==0.17.5
tf2-kdl==0.17.5
tf2-py==0.17.5
tf2-ros-py==0.17.5
tf2-tools==0.17.5
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==4.5.3
triton==2.0.0
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
tzdata==2023.3
urllib3 @ file:///croot/urllib3_1686163155763/work
